:root{
    --primario: #013E6A;
	--secundario: #000;
    --body: #F0F4F3;
}
/*Globales*/
body {
    background-color: var(--body);
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 2.8rem;
    text-align: center;
}

.titulo span {
    font-size: 4rem;
    background-color: var(--primario);
    border-radius: 50%;
}

.boton {
    background-color: #ccc;
    color: var(--secundario);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.boton:hover {
    background-color:var(--primario);
    color: #ffffff;
}

.input-text:focus {
    background: #f1f1f1;
}

/*formulario*/
.formulario {
    padding: 2rem 1rem;
    width: min(60rem, 100%);
}

@media (min-width:768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 1rem;
    }

    .campo:nth-child(9),
    .campo:nth-child(10),
    .campo:nth-child(11) {
        grid-column: 1/4;
    }

    .campo:nth-child(1) {
        grid-column: 1/3;
    }

    .campo {
        margin-bottom: 1rem;
    }

    .input-text {
        width: 100%;
        padding: .1rem 0;
        border: solid 1px #ccc;
        border-radius: .2rem;
    }

}

/*imagenes*/
.imagenes {
    height: 14rem;
    width: 15rem;
}

.contenedor-img {
    display: flex;
    justify-content: flex-end;
}

/*Utilidades*/
.flex {
    display: flex;
}

.centrar {
    justify-content: center;
}

@media (max-width:768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 1rem;
    }

    .campo {
        margin-bottom: 1rem;
        grid-column: 1/3;
    }

    .input-text {
        width: 100%;
        padding: .1rem 0;
        border: solid 1px #ccc;
        border-radius: .2rem;
    }

    .imagenes {
        height: 10rem;
        width: 12rem;
    }
    
}

